beautifulsoup4
fake_useragent
keras
lxml
matplotlib
numpy
opencv-python
pandas
pillow
qiskit
requests
scikit-fuzzy
sklearn
statsmodels
sympy
tensorflow
types-requests
xgboost
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
